<ion-header>
   <ion-navbar color="primary">
    <ion-title >
  学生论坛
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content on-tap="hidecinput()">

   
  <ion-segment [(ngModel)]="selectedSegment">

    <ion-segment-button value="1"  >

      租房( 求租招租)

    </ion-segment-button>

    <ion-segment-button value="2" >

      生活答疑

    </ion-segment-button>

    <ion-segment-button value="3" >

      二手市场

    </ion-segment-button>

  </ion-segment>

<form [formGroup]="todo">

<textarea   #post1  formControlName="post" placeholder="请输入要发布的内容(空内容将无法发送)"></textarea>

<button  ion-button icon-left (click)="presentActionSheet() " >
<ion-icon name="camera"></ion-icon>上传/拍照
</button>


 

<button  ion-button  icon-right  (click)="postgo()" [disabled]="!todo.valid" class="postButton" >
发布<ion-icon name="cloud-upload"></ion-icon>
</button>

<button   *ngIf="(act1 | async)?.length>0"  block  outline ion-button (click)="gopage()">
       
      <label  *ngIf="(act1 | async)?.length<99" > 未读评论   <ion-badge id="notifications-badge" color="danger">{{(act1 | async)?.length}}</ion-badge>
                  </label>
     <label  *ngIf="(act1 | async)?.length>=99" > 未读评论   <ion-badge id="notifications-badge" color="danger">99</ion-badge>
                  </label>
     
    
    </button>

</form>
  <ion-grid>
<ion-row class="gallery" >
  <ion-col  col-4  *ngFor="let photo of photos; let id=index"><ion-card class="block" ><ion-icon name="trash"  (click)="deletePhoto(id)" class="primary deleteIcon"></ion-icon> <img class="image"  [src]="photo" imageViewer /></ion-card></ion-col>
 
</ion-row>


   </ion-grid>






<div [ngSwitch]="selectedSegment">

   <ion-list *ngSwitchCase="1" >
     <ion-item>
 <p style="padding:5px" text-wrap>只有租房消息可以在此发布，谢谢合作。严禁其他形式的任何商业广告。</p>
</ion-item>

  <ion-card *ngFor="let renter of rent| async; let i = index;" class="ic" >
<ion-item >
    <ion-row>
      <ion-col col-2>
    <ion-avatar>
      <img  [src]="renter.pic"/>
    

    </ion-avatar>
   
      </ion-col>
      <ion-col col-2>
        <p> {{renter.name}}</p>
      </ion-col>  
    </ion-row>
   

 


  
    <p text-wrap >{{renter.post}}</p>
  

 <ion-row class="renderpic" class="grid-full">
  <ion-col  col-4 *ngFor="let photo2 of  renter.pic1 | objectValues"> <ion-card class="block1" ><img  class="image1"  [src]="photo2" imageViewer />  </ion-card>  </ion-col>
 
  </ion-row>
  <br>




  <ion-row>
   
    <ion-col col-4>
      <button ion-button icon-left clear small (click)="comment(renter.pid,renter.name,renter.id)">
        <ion-icon name="text"></ion-icon>
        <div>评论</div>
      </button>
    </ion-col>

   <ion-col col-4>
      <button *ngIf="ifdelete(renter.id)" (click)="delete(renter.pid)" ion-button icon-left clear small>
        <ion-icon name="trash"></ion-icon>
        <div>删除</div>
      </button>
    </ion-col>
    
    <ion-col col-4 center text-center>
        
      <ion-note id="time">
      {{renter.date}}
      </ion-note>
    </ion-col>

  </ion-row>
  </ion-item>
<button ion-button  block  outline (click)=" shareFabClicked(i)" *ngIf="showcom" >显示/隐藏评论</button>
  <p style="text-align:center" *ngIf="renter.comment==null">暂时无评论 </p>
 <ion-badge item-end>{{l}}</ion-badge>
<br>
<ion-list *ngIf="hidden[i]" >
<ion-item text-wrap *ngFor="let com of renter.comment| objectValues" style="background-color:azure">

    <ion-row >
      <ion-col col-2 >
    <ion-avatar>
      <img  [src]="com.ava"/>
    

    </ion-avatar>
   
      </ion-col>
      <ion-col col-10 >
    
       
        <p style="font-size:12px"> {{com.whotowho}}</p>
        <p text-wrap style="padding:2px"> {{com.text}}</p>
     
        
      </ion-col>  
   
    </ion-row>
    

 
    <button ion-button icon-left clear small (click)="comment(renter.pid,com.pn,com.senderid)" >
       
        <div>回复</div>
      </button>
        <button *ngIf="ifdelete1(com.senderid,renter.id)" (click)="delete1(renter.pid,com.pid)" ion-button icon-left clear small>
       
        <div>删除</div>
      </button>
     
  

  

</ion-item>



</ion-list>
 </ion-card>

 

</ion-list>

   <ion-list *ngSwitchCase="2" >
      <ion-item>
 <p style="padding:5px"  text-wrap>只有生活相关问题可以在此发布，谢谢合作。禁止其他形式的任何商业广告。</p>
   </ion-item>
  <ion-card *ngFor="let renter of life| async; let i = index" class="ic" >
    
<ion-item  style="padding:-5px">
    <ion-row>
      <ion-col col-2>
    <ion-avatar>
      <img  [src]="renter.pic"/>
    

    </ion-avatar>
   
      </ion-col>
      <ion-col col-2>
        <p> {{renter.name}}</p>
      </ion-col>  
    </ion-row>
   

 


  
    <p text-wrap >{{renter.post}}</p>
  

 <ion-row class="renderpic" class="grid-full">
  <ion-col  col-4 *ngFor="let photo2 of  renter.pic1 | objectValues; "> <ion-card class="block1" ><img  class="image1"  [src]="photo2" imageViewer />  </ion-card>  </ion-col>
 
  </ion-row>
  <br>




  <ion-row>
   
    <ion-col col-4>
      <button ion-button icon-left clear small (click)="comment(renter.pid,renter.name,renter.id)">
        <ion-icon name="text"></ion-icon>
        <div>评论</div>
      </button>
    </ion-col>

   <ion-col col-4>
      <button *ngIf="ifdelete(renter.id)" (click)="delete(renter.pid)" ion-button icon-left clear small>
        <ion-icon name="trash"></ion-icon>
        <div>删除</div>
      </button>
    </ion-col>
    
    <ion-col col-4 center text-center>
        
      <ion-note id="time">
      {{renter.date}}
      </ion-note>
    </ion-col>

  </ion-row>
  </ion-item>
<button ion-button  block  outline (click)=" shareFabClicked(i)" *ngIf="showcom" >显示/隐藏评论</button>
  <p style="text-align:center" *ngIf="renter.comment==null">暂时无评论 </p>
<br>
<ion-list *ngIf="hidden[i]" >
<ion-item text-wrap *ngFor="let com of renter.comment| objectValues; " style="background-color:azure">
  
    <ion-row >
      <ion-col col-2 >
    <ion-avatar>
      <img  [src]="com.ava"/>
    

    </ion-avatar>
   
      </ion-col>
      <ion-col col-10 >
    
       
        <p style="font-size:12px"> {{com.whotowho}}</p>
        <p text-wrap style="padding:2px"> {{com.text}}</p>
     
        
      </ion-col>  
   
    </ion-row>
    

 
    <button ion-button icon-left clear small (click)="comment(renter.pid,com.pn,com.senderid)" >
       
        <div>回复</div>
      </button>
        <button *ngIf="ifdelete1(renter.id,com.senderid)" (click)="delete1(renter.pid,com.pid)" ion-button icon-left clear small>
       
        <div>删除</div>
      </button>
     
  

  

</ion-item>



</ion-list>
 </ion-card>

 

</ion-list>



    <ion-list *ngSwitchCase="3" >
       <ion-item>
 <p style="padding:5px"text-wrap>只有二手广告消息可以在此发布，谢谢合作。禁止其他形式的任何商业广告</p>
  
       </ion-item> <ion-card *ngFor="let renter of new| async; let i = index" class="ic" >
<ion-item  style="padding:-5px">
    <ion-row>
      <ion-col col-2>
    <ion-avatar>
      <img  [src]="renter.pic"/>
    

    </ion-avatar>
   
      </ion-col>
      <ion-col col-2>
        <p> {{renter.name}}</p>
      </ion-col>  
    </ion-row>
   

 


  
    <p text-wrap >{{renter.post}}</p>
  

 <ion-row class="renderpic" class="grid-full">
  <ion-col  col-4 *ngFor="let photo2 of  renter.pic1 | objectValues"> <ion-card class="block1" ><img  class="image1"  [src]="photo2" imageViewer />  </ion-card>  </ion-col>
 
  </ion-row>
  <br>




  <ion-row>
   
    <ion-col col-4>
      <button ion-button icon-left clear small (click)="comment(renter.pid,renter.name,renter.id)">
        <ion-icon name="text"></ion-icon>
        <div>评论</div>
      </button>
    </ion-col>

   <ion-col col-4>
      <button *ngIf="ifdelete(renter.id)" (click)="delete(renter.pid)" ion-button icon-left clear small>
        <ion-icon name="trash"></ion-icon>
        <div>删除</div>
      </button>
    </ion-col>
    
    <ion-col col-4 center text-center>
        
      <ion-note id="time">
      {{renter.date}}
      </ion-note>
    </ion-col>

  </ion-row>
  </ion-item>
<button ion-button  block  outline (click)=" shareFabClicked(i)" *ngIf="showcom" >显示/隐藏评论</button>
  <p style="text-align:center" *ngIf="renter.comment==null">暂时无评论 </p>
<br>
<ion-list *ngIf="hidden[i]" >
<ion-item text-wrap *ngFor="let com of renter.comment| objectValues" style="background-color:azure">
    
    <ion-row >
      <ion-col col-2 >
    <ion-avatar>
      <img  [src]="com.ava"/>
    

    </ion-avatar>
   
      </ion-col>
      <ion-col col-10 >
    
       
        <p style="font-size:12px"> {{com.whotowho}}</p>
        <p text-wrap style="padding:2px"> {{com.text}}</p>
     
        
      </ion-col>  
   
    </ion-row>
    

 
    <button ion-button icon-left clear small (click)="comment(renter.pid,com.pn,com.senderid)" >
       
        <div>回复</div>
      </button>
        <button *ngIf="ifdelete1(com.senderid,renter.id)" (click)="delete1(renter.pid,com.pid)" ion-button icon-left clear small>
       
        <div>删除</div>
      </button>
     
  

  

</ion-item>



</ion-list>
 </ion-card>

 

</ion-list>

</div>

</ion-content>
<ion-footer >
<form [formGroup]="com">
<ion-item *ngIf="post">
  <ion-input  autofocus class="comment" formControlName="comment" type="text" placeholder="请发布评论" ></ion-input > <button class="postbutton" item-right ion-button icon-only>
  <ion-icon name="sad"></ion-icon>
</button>
<button  [disabled]="!com.valid" (click)="gopocom()" class="postbutton" item-right ion-button >
  发送
</button>
<button   (click)="cancel()" class="postbutton" item-right ion-button >
  取消
</button>
  </ion-item>
</form>
</ion-footer>