<ion-header>
  <ion-navbar color="primary">
   
    
    <ion-title>未读评论收件箱</ion-title>
   

  </ion-navbar>
</ion-header>

<ion-content padding >

  <div >
    <div>收件箱每次只显示一封未读评论</div>
  <ion-card  class="ic"   >
  <p *ngIf="(data | async)?.name==null||(data1 | async)?.ava==null">对方已经删除评</p>
<ion-item  *ngIf="(data | async)?.name!=null" style="padding:-5px" >
    <ion-row>
      <ion-col col-2>
    <ion-avatar>
      <img [src]="(data | async)?.pic"/>
    

   
 




    </ion-avatar>
   
      </ion-col>
      <ion-col col-2>
        <p> {{(data | async)?.name}}</p>
      </ion-col>  
    </ion-row>    
   

 
<br>

    
    <p text-wrap >{{(data | async)?.post}}</p>
  

 <ion-row class="renderpic" class="grid-full">
  <ion-col  col-4> <ion-card class="block1" ><img  class="image1"  imageViewer /> </ion-card>  </ion-col>
 
  </ion-row>
  <br>


  
     <button *ngIf="(data | async)?.id ==myid" ion-button icon-left clear small  (click)="delete()">
       
        <div>删除</div>
      </button>


  </ion-item>

<br>
<ion-list >
<ion-item  *ngIf="(data1 | async)?.ava!=null" text-wrap style="background-color:azure">
  <p>评论：</p>
    <ion-row >
      <ion-col col-2 >
    <ion-avatar>
      <img  [src]="(data1 | async)?.ava"/>
    

    </ion-avatar>
   
      </ion-col>
      <ion-col col-10 >
    
       
        <p style="font-size:12px">{{(data1 | async)?.pn}}@你</p>
       
     
        
      </ion-col>  
   
    </ion-row>
     <p text-wrap style="padding:2px">{{(data1 | async)?.text}} </p>

 
    <button ion-button icon-left clear small (click)="comment(data.pid,data.pn,data1.reveiverid)" >
       
        <div>回复</div>
      </button>
      <button *ngIf="(data | async)?.id ==myid||(data1 | async)?.senderid==myid " ion-button icon-left clear small  (click)="delete1()">
       
        <div>删除</div>
      </button>
    
  

  

</ion-item>

</ion-list >


</ion-card>
  </div>
  
</ion-content>
<ion-footer >
<form [formGroup]="com" >
<ion-item *ngIf="post" >
  <ion-input  autofocus  class="comment" formControlName="comment" type="text" placeholder="请发布评论" ></ion-input > <button class="postbutton" item-right ion-button icon-only>
  <ion-icon name="sad"></ion-icon>
</button>
<button  [disabled]="!com.valid" (click)="gopocom()" class="postbutton" item-right ion-button >
  发送
</button>
<button   (click)="cancel()" class="postbutton" item-right ion-button >
  取消
</button>
  </ion-item>
</form>
</ion-footer>